<!-- Main -->
<div id="main">
    <section>
        <header class="major">
            <h2>Senior Developer</h2>
            <p class="post-meta">Passionate about software development and nerd in his spare time.</p>
        </header>

        <section>
            Technology has always been part in my life, I decided to be a programmer when I got in 15 years of age when I created my first website. I'm a self-taught, and I love my job because I can learn new things every days for be better and I like to see the things happening when I write codes.
            Today my focus is develop like a full-stack developer, I can develop web applications, back-end applications (RestFull API's) and mobile applications.
            I have strong experience to develop in PHP and Javascript.
            For develop mobile applications I use phonegap and ionic framework or Java for create native applications for android, for backend I use Laravel 5.1 or NodeJS and for front-end I use AngularJS, Sass/Compass, Gulp.
        </section>
    </section>
</div>